body{
    height: 85vh;
    display: grid;
    grid-template-columns:  auto 300px auto;
    grid-template-rows: 100px 165px 200px 50px;
    grid-template-areas: 
    "bDateBox bDateBox bDateBox"
    ". main ."
    "textBox textBox textBox"
    "button button button";
    grid-row-gap: 10px;
    align-content: space-between;	

    color: #58595a;
    
}
button{
    background-color: #944743;
    font-family: 'Raleway', sans-serif;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
    

#bDateBox{
    grid-area: bDateBox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #944743;  
}
    #bDateText{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 20px;
        width: 50vw;
        margin-top: 10px;
    }
    #bDate{
        font-family: 'Mina', sans-serif;
        width: 90%;
        height: 35px;
        font-size: 20px;
        text-align: center;
    }


#printedHoroscope{
    grid-area: main;
    text-align: center;
    font-family: 'Mina', sans-serif;
    
 
}
#printedHoroscope h1{
    padding:0px;
    margin: 0px;
}
#printedHoroscope img{
    height: 112.5px;
    width: 150px;
}
#horoscopeTextBox{
    grid-area: textBox;
    font-family: 'Raleway', sans-serif;
    
}
#trueFalseCheck{
display: none;
}
#buttonBox{
    grid-area: button;
    display: flex;
    flex-flow: row nowrap;
    
    
}
#saveHoroscope{
    grid-area: button;
    width: 100%;
    z-index: 1;
    
}
#updateHoroscope{
    
    width: 50%;

}
#deleteHoroscope{
    
    width: 50%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
    -moz-appearance:textfield;
}

@media (min-width: 600px) {
    body{
        height: 600px;
        grid-template-columns:  50px 300px 50px;
        grid-template-rows: 100px 165px 200px 50px;
    }
  


}